In [1]:
# Chapter Ten: Supervised Algorithms
# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

In [1]:
from random import randint

TRAIN_SET_LIMIT = 1000 
TRAIN_SET_COUNT = 100 
TRAIN_INPUT = list() 
TRAIN_OUTPUT = list() 
for i in range(TRAIN_SET_COUNT): 
    a = randint(0, TRAIN_SET_LIMIT) 
    b = randint(0, TRAIN_SET_LIMIT) 
    c = randint(0, TRAIN_SET_LIMIT) 
    op = a + (2*b) + (3*c) 
    TRAIN_INPUT.append([a, b, c]) 
    TRAIN_OUTPUT.append(op) 
    
# Train the model: 
from sklearn.linear_model import LinearRegression 
predictor = LinearRegression(n_jobs=-1) 
predictor.fit(X=TRAIN_INPUT, y=TRAIN_OUTPUT)

# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

LinearRegression(n_jobs=-1)

In [2]:
# once a system is very, you should fast sample test data set in the following format, [ [10, 20, 30]], 
# and observe the output. This must be 10+20*2+30*2 and output must be 140 

X_TEST = [[10, 20, 30]]

outcome = predictor.predict(X=X_TEST) 
coefficients = predictor.coef_ 
print('Outcome : {}\nCoefficients : {}'.format(outcome, coefficients))

Outcome : [140.]
Coefficients : [1. 2. 3.]

Output Outcome = [140]<br>
Coefficients = [1.2.3]<br>

We have now successfully implemented the model, trained, and observed the prediction of the output for any new input based on a mathematical linear equation.

Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

# More...

In [3]:
import pandas as pd 
import quandl 

df = quandl.get("WIKI/GOOGL") 
df.head()

# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [4]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
df
# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
...                 ...          ...          ...          ...          ...
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [5]:
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0

df
# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT
Date,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.072956
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,7.921706
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,4.049360
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,7.657099
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,3.886792
...,...,...,...,...,...,...
2018-03-21,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,1.964351
2018-03-22,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,3.254997
2018-03-23,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,4.082607
2018-03-26,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,4.619150
2018-03-27,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,6.645878

In [6]:
# And the following piece of code defines dataframes and interprets the data output: 

df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0 
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']] 
print(df.head())

# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [7]:
import quandl, math 
import numpy as np 
import pandas as pd 
from sklearn import preprocessing, svm 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 

df = quandl.get("WIKI/GOOGL") 
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']] 
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0 
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0 
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
print(df.head())

# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [8]:
forecast_col = 'Adj. Close' 
df.fillna(value=-99999, inplace=True) 
forecast_out = int(math.ceil(0.01 * len(df))) 
df['label'] = df[forecast_col].shift(-forecast_out) 

# With the above few lines of code, we’ve defined what we want to forecast. 
# The next steps are to train and test our model. At this point, we can use the dropna function 
# and then proceed to convert the data to numpy array format, which is the expected data format 
# by Scikit library functions that we will be subsequently using. 

df.dropna(inplace=True) 
X = np.array(df.drop(['label'], 1)) 
Y = np.array(df['label']) 
X = preprocessing.scale(X) 
Y = np.array(df['label'])

# Walker, Brian. Machine Learning with Python: A Step by Step Guide to Learn Machine Learning with Python for Beginners . Kindle Edition.