In [4]:
import pandas as pd

In [5]:
# https://docs.google.com/spreadsheets/d/1pJ-jeDmVb69yCgUbi0DsRT-HW8jfJlZBh6ehyelOaOw/edit?usp=sharing

the_url = 'https://docs.google.com/spreadsheets/d/0Ak1ecr7i0wotdGJmTURJRnZLYlV3M2daNTRubTdwTXc/export?gid=0&format=csv'

test = pd.read_csv(the_url,
                   # Set first column as rownames in data frame
                   index_col=0,
                   # Parse column values to datetime
                   parse_dates=['Quradate']
                  )
test.head(5)  # Same result as @TomAugspurger

,City,region,Res_Comm,mkt_type,Quradate,National_exp,Alabama_exp,Sales_exp,Inventory_exp,Price_exp,Credit_exp
0,Dothan,South_Central-Montgomery-Auburn-Wiregrass-Dothan,Residential,Rural,2010-01-15,2,2,3,2,3,3
10,Foley,South_Mobile-Baldwin,Residential,Suburban_Urban,2010-01-15,4,4,4,4,4,3
12,Birmingham,North_Central-Birmingham-Tuscaloosa-Anniston,Commercial,Suburban_Urban,2010-01-15,2,2,3,2,2,3
38,Brent,North_Central-Birmingham-Tuscaloosa-Anniston,Residential,Rural,2010-01-15,3,3,3,3,3,2
44,Athens,North_Huntsville-Decatur-Florence,Residential,Suburban_Urban,2010-01-15,4,5,4,4,4,4

In [10]:
# https://docs.google.com/spreadsheets/d/1pJ-jeDmVb69yCgUbi0DsRT-HW8jfJlZBh6ehyelOaOw/edit?usp=sharing

the_url = 'https://docs.google.com/spreadsheets/d/1pJ-jeDmVb69yCgUbi0DsRT-HW8jfJlZBh6ehyelOaOw/export?gid=0&format=csv'

test2 = pd.read_csv(the_url)
test2.head(5)

        powder  rate note
0   A NITRO100     1  NaN
1       v-N310     1  NaN
2     VEC BA10     2  NaN
3     ALLNT E3     2  NaN
4  WIN AA LITE     2  NaN

In [8]:
the_url = 'https://docs.google.com/spreadsheets/d/1pJ-jeDmVb69yCgUbi0DsRT-HW8jfJlZBh6ehyelOaOw/export?gid=1119510158&format=csv'

test2 = pd.read_csv(the_url)
test2.head(5)

,powder,start,volume cc,auto disk,lee dipper,velocity,never exceed,velocity max,press,units,min oal,mm,Unnamed: 12
0,115 grain jacketed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,v-N350,5.4,0.53,0.53,0.5,1129.0,6.5,1293.0,NaN,NaN,1.142,29.01,NaN
2,v-3N37,5.6,0.51,0.49,0.5,1129.0,6.5,1289.0,NaN,NaN,1.142,29.01,NaN
3,v-N330,4.5,0.49,NaN,NaN,1076.0,5.4,1227.0,NaN,NaN,1.142,29.01,NaN
4,v-N340,4.8,0.51,NaN,NaN,1129.0,5.4,1220.0,NaN,NaN,1.142,29.01,NaN