In [ ]:
#
#
#

import pandas as pd
import numpy as np

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
dates

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])
df

In [ ]:
s = df['A']
s[dates[5]]

In [ ]:
df

In [ ]:
df[['B', 'A']] = df[['A', 'B']]
df

In [ ]:
df[['A', 'B']].to_numpy()

In [ ]:
#
#
#

sa = pd.Series([1, 2, 3], index=list('abc'))
print(type(sa))
dfa = df.copy()

In [ ]:
sa.b

In [ ]:
dfa.A

In [ ]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x

In [ ]:
x.iloc[1] = {'x': 9, 'y': 99}

In [ ]:
x

In [ ]:
df = pd.DataFrame({'one': [1., 2., 3.]})
df.two = [4, 5, 6]
# UserWarning: Pandas doesn't allow Series to be assigned into nonexistent columns - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute_access
df

In [ ]:
df['two'] = [4, 5, 6]

In [ ]:
df

In [ ]:
pd.date_range('20130101', periods=10)

In [ ]:
#
# Merge, join, concatenate and compare
#
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)


df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)


frames = [df1, df2, df3]

result = pd.concat(frames)
result