In [1]:
#
#
#

import numpy as nm
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
data = pd.read_csv('data/reloading_data - 9mm parabellum.csv')
data.head()

,powder,start,volume cc,auto disk,lee dipper,velocity,never exceed,velocity max,press,units,min oal,mm
0,115 grain jacketed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,v-N350,5.4,0.53,0.53,0.5,1129.0,6.5,1293.0,NaN,NaN,1.142,29.01
2,v-3N37,5.6,0.51,0.49,0.5,1129.0,6.5,1289.0,NaN,NaN,1.142,29.01
3,v-N330,4.5,0.49,NaN,NaN,1076.0,5.4,1227.0,NaN,NaN,1.142,29.01
4,v-N340,4.8,0.51,NaN,NaN,1129.0,5.4,1220.0,NaN,NaN,1.142,29.01

In [3]:
data.shape

(81, 12)

In [4]:
# add a "bullet type" column

orig_columns =                           ['powder', 'start', 'velocity', 'never exceed', 'velocity max', 'press', 'units', 'min oal']
new_columns  = ['bul_weight', 'bul_type', 'powder', 's_load', 's_velocity', 'ne_load', 'ne_velocity', 'press', 'units', 'oal']

df = pd.DataFrame(columns = new_columns)

bul_weight = None
bul_type = None
for pos in range(0, data.shape[0]):
    line = tuple(data.loc[pos, orig_columns].array)
    # print(123, line) # DEBUG
    if ' grain ' in line[0]: # this is a bullettype "115 grain jacketed"
        bul_weight, bul_type = line[0].split(' grain ')
    else:
        line = (bul_weight, bul_type, *line)
        df.loc[len(df.index)] = line

In [5]:
df

,bul_weight,bul_type,powder,s_load,s_velocity,ne_load,ne_velocity,press,units,oal
0,115,jacketed,v-N350,5.4,1129.0,6.5,1293.0,NaN,NaN,1.142
1,115,jacketed,v-3N37,5.6,1129.0,6.5,1289.0,NaN,NaN,1.142
2,115,jacketed,v-N330,4.5,1076.0,5.4,1227.0,NaN,NaN,1.142
3,115,jacketed,v-N340,4.8,1129.0,5.4,1220.0,NaN,NaN,1.142
4,115,jacketed,wSUPER-FLD,4.9,1060.0,5.7,1195.0,31900.0,PSI,1.169
...,...,...,...,...,...,...,...,...,...,...
72,115,XTP,SR7625,4.5,1031.0,4.9,1113.0,32300.0,PSI,1.125
73,115,XTP,AMER-SELECT,4.8,983.0,5.4,1102.0,NaN,NaN,1.125
74,115,XTP,CLAYS,3.7,1066.0,3.9,1095.0,32600.0,CUP,1.125
75,115,XTP,IMR 700X,3.9,991.0,4.2,1091.0,31900.0,PSI,1.125
76,115,XTP,IMR PB,3.6,957.0,4.0,1038.0,32000.0,PSI,1.125

In [6]:
df.shape

(77, 10)